* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* main page */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

#main-title {
    font-size: 56px;
    text-align: center;
    text-decoration: underline;
}

#container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#container ul li {
    list-style-type: none;
}

#container ul li a {
    text-decoration: none;
    font-size: 36px;
    text-align: center;
    color: darkcyan;
}


/* sub pages */
h1 {
    font-size: 36px;
    text-align: center;
    margin: 40px 0;
}