* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: bisque;
    font-weight: bold;
}

/* main page */
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

#main-title {
    font-size: 56px;
    text-align: center;
    text-decoration: underline;
}

#container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#container ul li {
    list-style-type: none;
}

#container ul li a {
    
    font-size: 36px;
    text-align: center;
    color: darkcyan;
}


/* sub pages */
h1 {
    font-size: 36px;
    text-align: center;
    margin: 40px 0;
}

.flexcontainer {
    display: flex;
    margin-bottom: 25px;
}
#back {
    background-color: teal;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    
}



.hero, .recipe {
    display: flex;
    gap: 35px;
    justify-content: center;
    padding: 20px 30px;
    flex-wrap: wrap;
}

.right {
    flex-basis: 350px;
}

